
*.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/Xkoranate-CE/v17/.wsuo
.vs/Xkoranate-CE/v17/Browse.VC.db
.vs/Xkoranate-CE/v17/Browse.VC.db-shm
.vs/Xkoranate-CE/v17/Browse.VC.db-wal
.vs/Xkoranate-CE/v17/Browse.VC.opendb
.vs/Xkoranate-CE/v17/DocumentLayout.json
.vs/Xkoranate-CE/v17/ipch/AutoPCH/1fa73f9c048bef9a/APPLICATION.ipch
.vs/Xkoranate-CE/v17/workspaceFileList.bin
*.idx
src/build/Desktop_Qt_6_7_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
/src/build
/.vs/Xkoranate-CE/v17
